:root {
  /* display  */
  --fx: flex;
  --gd: grid;

  /* direction  */
  --fdr: row;
  --fdc: column;
  --fdrr: row-reverse;
  --fdcr: column-reverse;

  /* justify-content */
  --jcc: center;
  --jcsb: space-between;
  --jcsa: space-around;
  --jcse: space-evenly;
  --jcfs: flex-start;
  --jcfe: flex-end;

  /* align items  */
  --aic: center;
  --aifs: flex-start;
  --aife: flex-end;

  /* wrap  */
  --fww: wrap;
  --fwwr: wrap-reverse;

  /* place items  */
  --pic: center;
  --psc: center;

  /* grid justify content */
  --gjcc: center;
  --gjcsb: space-between;
  --gjcsa: space-around;
  --gjcse: space-evenly;
  --gjcs: start;
  --gjce: end;

  /* grid align content */
  --gacc: center;
  --gacsb: space-between;
  --gacsa: space-around;
  --gacse: space-evenly;
  --gacs: start;
  --gace: end;
}

.flex-css {
  display: var(--fx);
  justify-content: var(--jcc);
  align-items: var(--aic);
}

/* -------------------- center css --------------------  */
.flex-css-row {
  display: var(--fx);
  justify-content: var(--jcc);
  align-items: var(--aic);
  flex-direction: var(--fdr);
}

.flex-css-column {
  display: var(--fx);
  justify-content: var(--jcc);
  align-items: var(--aic);
  flex-direction: var(--fdc);
}

.flex-css-row-reverse {
  display: var(--fx);
  justify-content: var(--jcc);
  align-items: var(--aic);
  flex-direction: var(--fdrr);
}

.flex-css-column-reverse {
  display: var(--fx);
  justify-content: var(--jcc);
  align-items: var(--aic);
  flex-direction: var(--fdcr);
}

.flex-css-row-sb {
  display: var(--fx);
  justify-content: var(--jcsb);
  align-items: var(--aic);
  flex-direction: var(--fdr);
}

.flex-css-column-sb {
  display: var(--fx);
  justify-content: var(--jcsb);
  align-items: var(--aic);
  flex-direction: var(--fdc);
}

.flex-css-row-sb-reverse {
  display: var(--fx);
  justify-content: var(--jcsb);
  align-items: var(--aic);
  flex-direction: var(--fdrr);
}

.flex-css-column-sb-reverse {
  display: var(--fx);
  justify-content: var(--jcsb);
  align-items: var(--aic);
  flex-direction: var(--fdcr);
}

.flex-css-row-sa {
  display: var(--fx);
  justify-content: var(--jcsa);
  align-items: var(--aic);
  flex-direction: var(--fdr);
}

.flex-css-column-sa {
  display: var(--fx);
  justify-content: var(--jcsa);
  align-items: var(--aic);
  flex-direction: var(--fdc);
}

.flex-css-row-sa-reverse {
  display: var(--fx);
  justify-content: var(--jcsa);
  align-items: var(--aic);
  flex-direction: var(--fdrr);
}

.flex-css-column-sa-reverse {
  display: var(--fx);
  justify-content: var(--jcsa);
  align-items: var(--aic);
  flex-direction: var(--fdcr);
}

.flex-css-row-se {
  display: var(--fx);
  justify-content: var(--jcse);
  align-items: var(--aic);
  flex-direction: var(--fdr);
}

.flex-css-column-se {
  display: var(--fx);
  justify-content: var(--jcse);
  align-items: var(--aic);
  flex-direction: var(--fdc);
}

.flex-css-row-se-reverse {
  display: var(--fx);
  justify-content: var(--jcse);
  align-items: var(--aic);
  flex-direction: var(--fdrr);
}

.flex-css-column-se-reverse {
  display: var(--fx);
  justify-content: var(--jcse);
  align-items: var(--aic);
  flex-direction: var(--fdcr);
}

.flex-css-row-start {
  display: var(--fx);
  justify-content: var(--jcfs);
  align-items: var(--aic);
  flex-direction: var(--fdr);
}

.flex-css-row-end {
  display: var(--fx);
  justify-content: var(--jcfe);
  align-items: var(--aic);
  flex-direction: var(--fdr);
}

.flex-css-row-start-reverse {
  display: var(--fx);
  justify-content: var(--jcfe);
  align-items: var(--aic);
  flex-direction: var(--fdrr);
}

.flex-css-row-end-reverse {
  display: var(--fx);
  justify-content: var(--jcfs);
  align-items: var(--aic);
  flex-direction: var(--fdrr);
}

.flex-css-column-start {
  display: var(--fx);
  justify-content: var(--jcfs);
  align-items: var(--aic);
  flex-direction: var(--fdc);
}

.flex-css-column-end {
  display: var(--fx);
  justify-content: var(--jcfe);
  align-items: var(--aic);
  flex-direction: var(--fdc);
}

.flex-css-column-start-reverse {
  display: var(--fx);
  justify-content: var(--jcfe);
  align-items: var(--aic);
  flex-direction: var(--fdcr);
}

.flex-css-column-end-reverse {
  display: var(--fx);
  justify-content: var(--jcfs);
  align-items: var(--aic);
  flex-direction: var(--fdcr);
}

/* -------------------- top css -------------------- */
.flex-top {
  display: var(--fx);
  justify-content: var(--jcc);
  align-items: var(--aifs);
}

.flex-top-row {
  display: var(--fx);
  justify-content: var(--jcc);
  align-items: var(--aifs);
  flex-direction: var(--fdr);
}

.flex-top-column {
  display: var(--fx);
  justify-content: var(--jcc);
  align-items: var(--aifs);
  flex-direction: var(--fdc);
}

.flex-top-row-reverse {
  display: var(--fx);
  justify-content: var(--jcc);
  align-items: var(--aifs);
  flex-direction: var(--fdrr);
}

.flex-top-column-reverse {
  display: var(--fx);
  justify-content: var(--jcc);
  align-items: var(--aifs);
  flex-direction: var(--fdcr);
}

.flex-top-row-sb {
  display: var(--fx);
  justify-content: var(--jcsb);
  align-items: var(--aifs);
  flex-direction: var(--fdr);
}

.flex-top-column-sb {
  display: var(--fx);
  justify-content: var(--jcsb);
  align-items: var(--aifs);
  flex-direction: var(--fdc);
}

.flex-top-row-sb-reverse {
  display: var(--fx);
  justify-content: var(--jcsb);
  align-items: var(--aifs);
  flex-direction: var(--fdrr);
}

.flex-top-column-sb-reverse {
  display: var(--fx);
  justify-content: var(--jcsb);
  align-items: var(--aifs);
  flex-direction: var(--fdcr);
}

.flex-top-row-sa {
  display: var(--fx);
  justify-content: var(--jcsa);
  align-items: var(--aifs);
  flex-direction: var(--fdr);
}

.flex-top-column-sa {
  display: var(--fx);
  justify-content: var(--jcsa);
  align-items: var(--aifs);
  flex-direction: var(--fdc);
}

.flex-top-row-sa-reverse {
  display: var(--fx);
  justify-content: var(--jcsa);
  align-items: var(--aifs);
  flex-direction: var(--fdrr);
}

.flex-top-column-sa-reverse {
  display: var(--fx);
  justify-content: var(--jcsa);
  align-items: var(--aifs);
  flex-direction: var(--fdcr);
}

.flex-top-row-se {
  display: var(--fx);
  justify-content: var(--jcse);
  align-items: var(--aifs);
  flex-direction: var(--fdr);
}

.flex-top-column-se {
  display: var(--fx);
  justify-content: var(--jcse);
  align-items: var(--aifs);
  flex-direction: var(--fdc);
}

.flex-top-row-se-reverse {
  display: var(--fx);
  justify-content: var(--jcse);
  align-items: var(--aifs);
  flex-direction: var(--fdrr);
}

.flex-top-column-se-reverse {
  display: var(--fx);
  justify-content: var(--jcse);
  align-items: var(--aifs);
  flex-direction: var(--fdcr);
}

.flex-top-row-start {
  display: var(--fx);
  justify-content: var(--jcfs);
  align-items: var(--aifs);
  flex-direction: var(--fdr);
}

.flex-top-row-end {
  display: var(--fx);
  justify-content: var(--jcfe);
  align-items: var(--aifs);
  flex-direction: var(--fdr);
}

.flex-top-row-start-reverse {
  display: var(--fx);
  justify-content: var(--jcfe);
  align-items: var(--aifs);
  flex-direction: var(--fdrr);
}

.flex-top-row-end-reverse {
  display: var(--fx);
  justify-content: var(--jcfs);
  align-items: var(--aifs);
  flex-direction: var(--fdrr);
}

.flex-top-column-start {
  display: var(--fx);
  justify-content: var(--jcfs);
  align-items: var(--aifs);
  flex-direction: var(--fdc);
}

.flex-top-column-end {
  display: var(--fx);
  justify-content: var(--jcfe);
  align-items: var(--aifs);
  flex-direction: var(--fdc);
}

.flex-top-column-start-reverse {
  display: var(--fx);
  justify-content: var(--jcfe);
  align-items: var(--aifs);
  flex-direction: var(--fdcr);
}

.flex-top-column-end-reverse {
  display: var(--fx);
  justify-content: var(--jcfs);
  align-items: var(--aifs);
  flex-direction: var(--fdcr);
}

/* -------------------- bottom css -------------------- */
.flex-bottom {
  display: var(--fx);
  justify-content: var(--jcc);
  align-items: var(--aife);
}

.flex-bottom-row {
  display: var(--fx);
  justify-content: var(--jcc);
  align-items: var(--aife);
  flex-direction: var(--fdr);
}

.flex-bottom-column {
  display: var(--fx);
  justify-content: var(--jcc);
  align-items: var(--aife);
  flex-direction: var(--fdc);
}

.flex-bottom-row-reverse {
  display: var(--fx);
  justify-content: var(--jcc);
  align-items: var(--aife);
  flex-direction: var(--fdrr);
}

.flex-bottom-column-reverse {
  display: var(--fx);
  justify-content: var(--jcc);
  align-items: var(--aife);
  flex-direction: var(--fdcr);
}

.flex-bottom-row-sb {
  display: var(--fx);
  justify-content: var(--jcsb);
  align-items: var(--aife);
  flex-direction: var(--fdr);
}

.flex-bottom-column-sb {
  display: var(--fx);
  justify-content: var(--jcsb);
  align-items: var(--aife);
  flex-direction: var(--fdc);
}

.flex-bottom-row-sb-reverse {
  display: var(--fx);
  justify-content: var(--jcsb);
  align-items: var(--aife);
  flex-direction: var(--fdrr);
}

.flex-bottom-column-sb-reverse {
  display: var(--fx);
  justify-content: var(--jcsb);
  align-items: var(--aife);
  flex-direction: var(--fdcr);
}

.flex-bottom-row-sa {
  display: var(--fx);
  justify-content: var(--jcsa);
  align-items: var(--aife);
  flex-direction: var(--fdr);
}

.flex-bottom-column-sa {
  display: var(--fx);
  justify-content: var(--jcsa);
  align-items: var(--aife);
  flex-direction: var(--fdc);
}

.flex-bottom-row-sa-reverse {
  display: var(--fx);
  justify-content: var(--jcsa);
  align-items: var(--aife);
  flex-direction: var(--fdrr);
}

.flex-bottom-column-sa-reverse {
  display: var(--fx);
  justify-content: var(--jcsa);
  align-items: var(--aife);
  flex-direction: var(--fdcr);
}

.flex-bottom-row-se {
  display: var(--fx);
  justify-content: var(--jcse);
  align-items: var(--aife);
  flex-direction: var(--fdr);
}

.flex-bottom-column-se {
  display: var(--fx);
  justify-content: var(--jcse);
  align-items: var(--aife);
  flex-direction: var(--fdc);
}

.flex-bottom-row-se-reverse {
  display: var(--fx);
  justify-content: var(--jcse);
  align-items: var(--aife);
  flex-direction: var(--fdrr);
}

.flex-bottom-column-se-reverse {
  display: var(--fx);
  justify-content: var(--jcse);
  align-items: var(--aife);
  flex-direction: var(--fdcr);
}

.flex-bottom-row-start {
  display: var(--fx);
  justify-content: var(--jcfs);
  align-items: var(--aife);
  flex-direction: var(--fdr);
}

.flex-bottom-row-end {
  display: var(--fx);
  justify-content: var(--jcfe);
  align-items: var(--aife);
  flex-direction: var(--fdr);
}

.flex-bottom-row-start-reverse {
  display: var(--fx);
  justify-content: var(--jcfe);
  align-items: var(--aife);
  flex-direction: var(--fdrr);
}

.flex-bottom-row-end-reverse {
  display: var(--fx);
  justify-content: var(--jcfs);
  align-items: var(--aife);
  flex-direction: var(--fdrr);
}

.flex-bottom-column-start {
  display: var(--fx);
  justify-content: var(--jcfs);
  align-items: var(--aife);
  flex-direction: var(--fdc);
}

.flex-bottom-column-end {
  display: var(--fx);
  justify-content: var(--jcfe);
  align-items: var(--aife);
  flex-direction: var(--fdc);
}

.flex-bottom-column-start-reverse {
  display: var(--fx);
  justify-content: var(--jcfe);
  align-items: var(--aife);
  flex-direction: var(--fdcr);
}

.flex-bottom-column-end-reverse {
  display: var(--fx);
  justify-content: var(--jcfs);
  align-items: var(--aife);
  flex-direction: var(--fdcr);
}

/* -------------------- flex css wrap -------------------- */
.flex-css-wrap {
  display: var(--fx);
  justify-content: var(--jcc);
  align-items: var(--aic);
  flex-wrap: var(--fww);
}

.flex-css-row-wrap {
  display: var(--fx);
  justify-content: var(--jcc);
  align-items: var(--aic);
  flex-direction: var(--fdr);
  flex-wrap: var(--fww);
}

.flex-css-column-wrap {
  display: var(--fx);
  justify-content: var(--jcc);
  align-items: var(--aic);
  flex-direction: var(--fdc);
  flex-wrap: var(--fww);
}

.flex-css-row-sb-wrap {
  display: var(--fx);
  justify-content: var(--jcsb);
  align-items: var(--aic);
  flex-direction: var(--fdr);
  flex-wrap: var(--fww);
}

.flex-css-column-sb-wrap {
  display: var(--fx);
  justify-content: var(--jcsb);
  align-items: var(--aic);
  flex-direction: var(--fdc);
  flex-wrap: var(--fww);
}

.flex-css-row-sa-wrap {
  display: var(--fx);
  justify-content: var(--jcsa);
  align-items: var(--aic);
  flex-direction: var(--fdr);
  flex-wrap: var(--fww);
}

.flex-css-column-sa-wrap {
  display: var(--fx);
  justify-content: var(--jcsa);
  align-items: var(--aic);
  flex-direction: var(--fdc);
  flex-wrap: var(--fww);
}

.flex-css-row-se-wrap {
  display: var(--fx);
  justify-content: var(--jcse);
  align-items: var(--aic);
  flex-direction: var(--fdr);
  flex-wrap: var(--fww);
}

.flex-css-column-se-wrap {
  display: var(--fx);
  justify-content: var(--jcse);
  align-items: var(--aic);
  flex-direction: var(--fdc);
  flex-wrap: var(--fww);
}

.flex-css-row-start-wrap {
  display: var(--fx);
  justify-content: var(--jcfs);
  align-items: var(--aic);
  flex-direction: var(--fdr);
  flex-wrap: var(--fww);
}

.flex-css-column-start-wrap {
  display: var(--fx);
  justify-content: var(--jcfs);
  align-items: var(--aic);
  flex-direction: var(--fdc);
  flex-wrap: var(--fww);
}

/* -------------------- flex top wrap -------------------- */
.flex-top-wrap {
  display: var(--fx);
  justify-content: var(--jcc);
  align-items: var(--aifs);
  flex-wrap: var(--fww);
}

.flex-top-row-wrap {
  display: var(--fx);
  justify-content: var(--jcc);
  align-items: var(--aifs);
  flex-direction: var(--fdr);
  flex-wrap: var(--fww);
}

.flex-top-column-wrap {
  display: var(--fx);
  justify-content: var(--jcc);
  align-items: var(--aifs);
  flex-direction: var(--fdc);
  flex-wrap: var(--fww);
}

.flex-top-row-sb-wrap {
  display: var(--fx);
  justify-content: var(--jcsb);
  align-items: var(--aifs);
  flex-direction: var(--fdr);
  flex-wrap: var(--fww);
}

.flex-top-column-sb-wrap {
  display: var(--fx);
  justify-content: var(--jcsb);
  align-items: var(--aifs);
  flex-direction: var(--fdc);
  flex-wrap: var(--fww);
}

.flex-top-row-sa-wrap {
  display: var(--fx);
  justify-content: var(--jcsa);
  align-items: var(--aifs);
  flex-direction: var(--fdr);
  flex-wrap: var(--fww);
}

.flex-top-column-sa-wrap {
  display: var(--fx);
  justify-content: var(--jcsa);
  align-items: var(--aifs);
  flex-direction: var(--fdc);
  flex-wrap: var(--fww);
}

.flex-top-row-se-wrap {
  display: var(--fx);
  justify-content: var(--jcse);
  align-items: var(--aifs);
  flex-direction: var(--fdr);
  flex-wrap: var(--fww);
}

.flex-top-column-se-wrap {
  display: var(--fx);
  justify-content: var(--jcse);
  align-items: var(--aifs);
  flex-direction: var(--fdc);
  flex-wrap: var(--fww);
}

.flex-top-row-start-wrap {
  display: var(--fx);
  justify-content: var(--jcfs);
  align-items: var(--aifs);
  flex-direction: var(--fdr);
  flex-wrap: var(--fww);
}

.flex-top-column-start-wrap {
  display: var(--fx);
  justify-content: var(--jcfs);
  align-items: var(--aifs);
  flex-direction: var(--fdc);
  flex-wrap: var(--fww);
}

/* -------------------- flex bottom wrap -------------------- */
.flex-bottom-wrap {
  display: var(--fx);
  justify-content: var(--jcc);
  align-items: var(--aife);
  flex-wrap: var(--fww);
}

.flex-bottom-row-wrap {
  display: var(--fx);
  justify-content: var(--jcc);
  align-items: var(--aife);
  flex-direction: var(--fdr);
  flex-wrap: var(--fww);
}

.flex-bottom-column-wrap {
  display: var(--fx);
  justify-content: var(--jcc);
  align-items: var(--aife);
  flex-direction: var(--fdc);
  flex-wrap: var(--fww);
}

.flex-bottom-row-sb-wrap {
  display: var(--fx);
  justify-content: var(--jcsb);
  align-items: var(--aife);
  flex-direction: var(--fdr);
  flex-wrap: var(--fww);
}

.flex-bottom-column-sb-wrap {
  display: var(--fx);
  justify-content: var(--jcsb);
  align-items: var(--aife);
  flex-direction: var(--fdc);
  flex-wrap: var(--fww);
}

.flex-bottom-row-sa-wrap {
  display: var(--fx);
  justify-content: var(--jcsa);
  align-items: var(--aife);
  flex-direction: var(--fdr);
  flex-wrap: var(--fww);
}

.flex-bottom-column-sa-wrap {
  display: var(--fx);
  justify-content: var(--jcsa);
  align-items: var(--aife);
  flex-direction: var(--fdc);
  flex-wrap: var(--fww);
}

.flex-bottom-row-se-wrap {
  display: var(--fx);
  justify-content: var(--jcse);
  align-items: var(--aife);
  flex-direction: var(--fdr);
  flex-wrap: var(--fww);
}

.flex-bottom-column-se-wrap {
  display: var(--fx);
  justify-content: var(--jcse);
  align-items: var(--aife);
  flex-direction: var(--fdc);
  flex-wrap: var(--fww);
}

.flex-bottom-row-start-wrap {
  display: var(--fx);
  justify-content: var(--jcfs);
  align-items: var(--aife);
  flex-direction: var(--fdr);
  flex-wrap: var(--fww);
}

.flex-bottom-column-start-wrap {
  display: var(--fx);
  justify-content: var(--jcfs);
  align-items: var(--aife);
  flex-direction: var(--fdc);
  flex-wrap: var(--fww);
}

/*-------------------- individual flex-------------------- */
.d-fx {
  display: var(--fx);
}

.jc-c {
  justify-content: var(--jcc);
}

.jc-sb {
  justify-content: var(--jcsb);
}

.jc-sa {
  justify-content: var(--jcsa);
}

.jc-se {
  justify-content: var(--jcse);
}

.jc-fs {
  justify-content: var(--jcfs);
}

.jc-fe {
  justify-content: var(--jcfe);
}

.ai-c {
  align-items: var(--aic);
}

.ai-fs {
  align-items: var(--aifs);
}

.ai-fe {
  align-items: var(--aife);
}

.fd-r {
  flex-direction: var(--fdr);
}

.fd-c {
  flex-direction: var(--fdc);
}

.fd-rr {
  flex-direction: var(--fdrr);
}

.fd-cr {
  flex-direction: var(--fdcr);
}

/* -------------------- grid css --------------------  */
.d-gd {
  display: var(--gd);
}

.grid-css {
  display: var(--gd);
  place-items: var(--pic);
}

.grid-self-css {
  display: var(--gd);
  place-self: var(--psc);
}

.grid-hr-css {
  display: var(--gd);
  justify-content: var(--gjcc);
}

.grid-vr-css {
  display: var(--gd);
  align-content: var(--gacc);
}

.grid-hv-css {
  display: var(--gd);
  justify-content: var(--gjcc);
  align-content: var(--gacc);
}

/* -------------------- individual grid --------------------  */
.gjcc {
  justify-content: var(--gjcc);
}

.gjcsb {
  justify-content: var(--gjcsb);
}

.gjcsa {
  justify-content: var(--gjcsa);
}

.gjcse {
  justify-content: var(--gjcse);
}

.gjcs {
  justify-content: var(--gjcs);
}

.gjce {
  justify-content: var(--gjce);
}

.gacc {
  justify-content: var(--gacc);
}

.gacsb {
  justify-content: var(--gacsb);
}

.gacsa {
  justify-content: var(--gacsa);
}

.gacse {
  justify-content: var(--gacse);
}

.gacs {
  justify-content: var(--gacs);
}

.gace {
  justify-content: var(--gace);
}
